<IfModule mod_rewrite.c>
  Options -ExecCGI
</IfModule>
<IfModule mod_rewrite.c>
  RewriteEngine On
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ /public/$1

  RewriteCond %{REQUEST_URI} !=/public/index.php  
  RewriteRule !\.(js|gif|css|jpg|jpeg|png|ico|map|svg|woff|woff2|ttf|mp4|mov)$ /public/index.php [L]
</IfModule>